<div id="contentArea" class="my-4 container">
    <div class="row">
        <div class="col-3 px-4">
            <div class="list-group">
                <a type="button" class="list-group-item list-group-item-action" asp-action="inside">Dashboard</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="accounts">Accounts</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="cards">Cards</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="transfers">Transfers</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="payments">Payments</a>
            </div>
            <br>
            <div class="list-group">
                <a type="button" class="list-group-item list-group-item-action active" asp-action="support">Support</a>
            </div>
        </div>

        <div class="col-9 px-2">
            <div class="card">
                <div class="card-body">

                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light border rounded">
                            <li class="breadcrumb-item active">Support</li>
                        </ol>
                    </nav>
                    <div class="alert alert-dark mb-4" role="alert">
                        We respond to your support requests via e-mail.
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title Placeholder" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message:</label>
                            <textarea class="form-control no-resize" id="exampleTextarea" rows="3" placeholder="Message Placeholder" style="resize:none"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
