<div id="contentArea" class="my-4 container">
    <div class="row">
        <div class="col-3 px-4">
            <div class="list-group">
                <a type="button" class="list-group-item list-group-item-action" asp-action="inside">Dashboard</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="accounts">Accounts</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="cards">Cards</a>
                <a type="button" class="list-group-item list-group-item-action" asp-action="transfers">Transfers</a>
                <a type="button" class="list-group-item list-group-item-action disabled">Payments <small>(Currently Unavailable)</small></a>
                <a type="button" class="list-group-item list-group-item-action disabled">Loans <small>(Currently Unavailable)</small></a>
                <a type="button" class="list-group-item list-group-item-action disabled">Investments <small>(Currently Unavailable)</small></a>
            </div>
            <br>
            <div class="list-group">
                <a type="button" class="list-group-item list-group-item-action active" asp-action="support">Support</a>
            </div>
        </div>

        <div class="col-9 px-2">
            <div class="card">
                <div class="card-body">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light border rounded">
                            <li class="breadcrumb-item active">Support</li>
                        </ol>
                    </nav>

                    <div class="row">
                        <div class="col-sm-6">
                            <a href="createTicket.html" class="text-black" style="text-decoration: none !important;">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="lead text-center m-0">Create a Support Ticket</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="allTickets.html" class="text-black" style="text-decoration: none !important;">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="lead text-center m-0">All Tickets</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>