<div class="container  my-3">
    <form asp-action="Login" asp-controller="Admin" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="00000000000" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="text-center btn btn-dark">Log In</button>
        </div>
    </form>
</div>